/***************/
/* YOUR STYLES */
/***************/

/* Color Palette */
.color-1 {
    background: rgb(111, 142, 6);
    border: none;
}
.color-2 {
    background: rgb(241, 205, 3);
    border: none;
}
.color-3 {
    background: rgb(245, 183, 3);
    border: none;
}
.color-4 {
    background: rgb(243, 158, 2);
    border: none;
}
.color-5 {
    background: rgb(191, 93, 2);
    border: none;
}

/* Textures or Patterns*/
.pattern-1 {  background:  url('/img/wood.jpg');
        background-size: 130%;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
}

.pattern-2 {  background:  url('/img/leaf.jpg');
        background-size: 140%;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
}
    
.pattern-3 {  background:  url('/img/linen.jpg');
        background-size: 130%;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
}
        
.pattern-4 {  background:  url('/img/foral.jpg');
        background-size: 140%;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
}
.pattern-5 {  background:  url('/img/rust.jpg');
        background-size: 1650%;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
}


/* Imagery */
.imagery-1 {
    background:  url('/img/alaska.jpg');
    height: 200px;
    width: 300px;
    background-size: 300px;
    
}
.imagery-2 {
    background:  url('/img/baggins.jpg');
    background-color: black;
    height: 200px;
    width: 300px;
    background-size: 65%;
    background-position: center;
    background-repeat: no-repeat;
        
}
.imagery-3 {
    background:  url('/img/southwest.jpg');
    height: 200px;
    width: 300px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.imagery-4 {
    background:  url('/img/sunflower.jpg');
    height: 200px;
    width: 300px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.imagery-5 {
    background:  url('/img/fastcompany.jpg');
    height: 200px;
    width: 300px;
    background-size: 100%;
    background-repeat: no-repeat;
}


/* Icons */


/* Typography */
    

/* Forms */


/* Tables */


/* Cards */